body {
  font-family:'Helvetica';
  font-style:normal;
  font-weight:100;
  background-color: #625ad8;
  overflow-x: hidden;
}

/* Navbar */
.navbar-inverse {
  background-color: #2f484f;
  border-color: #2f484f;
  border-radius: 0;
  margin-bottom: 0;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; 
}
/* Navbar name */
.navbar-header .navbar-brand {
  color: #F5F5F5;
  line-height: 40px; 
  height: 40px; 
  padding-top: 0;
  padding-bottom: 0;
  float: left; 
}

/* navbar items */
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}
.navbar-inverse .nav > li > a {
  color: #070707;
  line-height: 40px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}
.navbar-inverse .nav > li > a:hover {
  color: #F5F5F5;
}


